# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2024 Tobias Hienzsch

Checks:
  - -*

  - bugprone-*
  - -bugprone-branch-clone
  - -bugprone-exception-escape
  - -bugprone-signed-char-misuse

  - cert-*
  - -cert-str34-c

  - clang-analyzer-*
  - clang-diagnostics-*
  - concurrency-*

  - cppcoreguidelines-*
  - -cppcoreguidelines-macro-usage
  - -cppcoreguidelines-owning-memory
  - -cppcoreguidelines-pro-bounds-array-to-pointer-decay
  - -cppcoreguidelines-pro-bounds-constant-array-index
  - -cppcoreguidelines-pro-bounds-pointer-arithmetic
  - -cppcoreguidelines-pro-type-reinterpret-cast

  - hicpp-*
  - -hicpp-explicit-conversions
  - -hicpp-no-array-decay
  - -hicpp-signed-bitwise

  - misc-*
  - -misc-confusable-identifiers
  - -misc-include-cleaner

  - modernize-*
  - -modernize-use-std-print

  - openmp-*
  - -openmp-use-default-none

  - performance-*

  - portability-*
  - -portability-avoid-pragma-once

  - readability-*
  - readability-identifier-naming
  - -readability-identifier-length
  - -readability-math-missing-parentheses
  - -readability-use-concise-preprocessor-directives

  - -*-avoid-c-arrays
  - -*-magic-numbers
  - -*-vararg

FormatStyle: file
HeaderFileExtensions: ["hpp"]
ImplementationFileExtensions: ["cpp", "cu"]
WarningsAsErrors: "*"
CheckOptions:
  bugprone-easily-swappable-parameters.MinimumLength: 4
  cppcoreguidelines-avoid-do-while.IgnoreMacros: true
  modernize-use-trailing-return-type.TransformLambdas: none
  readability-function-cognitive-complexity.DescribeBasicIncrements: false
  readability-function-cognitive-complexity.Threshold: 132
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.IgnoreMainLikeFunctions: 1
  readability-identifier-naming.PrivateMemberPrefix: _
  readability-identifier-naming.UnionCase: CamelCase
