# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2024 Tobias Hienzsch

Checks: >
  *-,

  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-exception-escape,
  -bugprone-signed-char-misuse,

  cert-*,
  -cert-str34-c,

  clang-analyzer-*,
  clang-diagnostics-*,
  concurrency-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,

  hicpp-*,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,

  misc-*,
  -misc-confusable-identifiers,
  -misc-include-cleaner,

  modernize-*,
  -modernize-use-std-print,

  openmp-*,
  -openmp-use-default-none,

  performance-*,

  portability-*,
  -portability-avoid-pragma-once,

  readability-*,
  readability-identifier-naming,
  -readability-identifier-length,
  -readability-math-missing-parentheses,
  -readability-use-concise-preprocessor-directives,

  -*-avoid-c-arrays,
  -*-magic-numbers,
  -*-vararg,

FormatStyle: file
HeaderFileExtensions: ["hpp"]
ImplementationFileExtensions: ["cpp"]
WarningsAsErrors: "*"
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 4
  - key: modernize-use-trailing-return-type.TransformLambdas
    value: none
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true
  - key: readability-function-cognitive-complexity.DescribeBasicIncrements
    value: false
  - key: readability-function-cognitive-complexity.Threshold
    value: 132
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
